__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
.ruff_cache/
.pytype/

# Tests & coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# Build/packaging artifacts
build/
dist/
*.egg-info/
.eggs/

# Virtual envs
venv/
.venv/

# OS / editor junk
.DS_Store
Thumbs.db
.idea/
.vscode/

# Git
.git
.gitignore

# Django artifacts
*.sqlite3
media/
static/
staticfiles/
# keep migrations, but ignore their caches only
migrations/**/__pycache__/

# Env files / secrets
.env
*.env